body {
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
  font-family: Raleway, sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 0;
}

.header {
  width: 100%;
  padding-top: 40px;
  position: absolute;
  left: 50%;
  z-index: 1;
  color: white;
  margin-left: -50%;
}

.header-wrap {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.logo {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 2;
  color: #fff;
  text-decoration: none;
}
.logo:hover {
  color: #c7b299;
}
.logo:active {
  color: #fff;
}

.logo-svg {
  fill: currentColor;
}

.logo-txt {
  font-family: Raleway, serif, serif;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
}

.header-nav {
  padding: 0;
}

.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
}

.menu li {
  list-style: none;
  padding-right: 30px;
}

.menu li a {
  font-family: Montserrat, serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
}
.menu li a:hover {
  color: #c7b299;
}
.menu li a:active {
  color: #fff;
}

label,
#menu {
  display: none;
}

.header-service {
  display: flex;
  align-items: center;
  flex-basis: auto;
}

.header-service-button {
  background-color: transparent;
  fill: white;
  border: none;
  outline: none;
}
.header-service-button:hover {
  fill: #c7b299;
}
.header-service-button:active {
  fill: #fff;
}

.header-service-button img:hover {
  color: #c7b299;
}

.search-form {
  position: relative;
  width: 50px;
  height: 50px;
  background: transparent;
  fill: white;
}
.search-form:hover {
  cursor: pointer;
}
.search-form:focus {
  outline: none;
}
.search-form:focus .search-input {
  margin-left: 10px;
  display: inline-block;
  border: 2px solid #fff;
  width: 250px;
  transition: width 1s ease;
}
.search-form:focus-within .search-icon {
  fill: #c7b299;
}

.search-input {
  position: absolute;
  top: 50px;
  left: -220px;
  width: 0;
  height: 45px;
  line-height: 30px;
  color: #c7b299;
  background-color: transparent;
  display: none;
  font-size: 1em;
  padding: 0 10px;
}

.search-icon {
  box-sizing: border-box;
  height: 46px;
  position: absolute;
  top: 0;
  right: 10px;
  fill: white;
}
.search-icon:hover {
  fill: #c7b299;
}

.slider {
  width: 100%;
  color: white;
  margin: 0 auto;
  position: relative;
  min-height: 1024px;
  background-image: url(../img/bg_slider.png);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  padding: 0 8%;
  display: flex;
  align-items: center;
}

.slider-wrap {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-arrow {
  outline: 0;
  border: 0;
  background-color: transparent;
  fill: white;
}
.slider-arrow:hover {
  fill: #c7b299;
  cursor: pointer;
}
.slider-arrow:active {
  fill: white;
  cursor: pointer;
}

.slider-slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-slogan-top {
  font-family: Raleway, serif;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
}

.slider-slogan-middle {
  font-family: Raleway, serif;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  text-align: center;
}

.slider-slogan-bottom {
  font-family: Montserrat, serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  max-width: 590px;
  margin-bottom: 50px;
}

.button {
  width: 170px;
  height: 53px;
  background-color: #998675;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: Raleway, serif;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
}
.button:hover {
  box-shadow: 0 2px 5px 1px rgba(255, 255, 255, 0.35);
  background-color: rgba(204, 185, 166, 0.54);
}
.button:active {
  box-shadow: 0 2px 5px 1px rgba(255, 255, 255, 0.35);
  background-color: rgba(204, 185, 166, 0.54);
  color: #998675;
}

.pagination {
  position: absolute;
  width: 100%;
  bottom: 40px;
  left: 50%;
  z-index: 1;
  color: white;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: white;
  margin: 8px;
}
.circle:hover {
  background-color: transparent;
  box-shadow: 0 0 0 2px white;
}

.services {
  max-width: 1170px;
  margin: 0 auto;
  padding: 80px 0 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service-item {
  width: 266px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}
.service-item svg {
  display: block;
  fill: #555555;
  margin: 0 20px;
}
.service-item h3 {
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  font-family: Raleway, serif;
  font-size: 22px;
  line-height: 1.2;
  font-weight: 600;
  color: #555555;
}
.service-item p {
  margin: 0 auto;
  padding-top: 20px;
  text-align: center;
  font-family: Montserrat, serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #8c8c8c;
}
.service-item:after {
  margin: 20px 0 0 0;
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #f1eee9;
}
.service-item:hover svg {
  fill: #c7b299;
}
.service-item:hover h3 {
  color: #c7b299;
}
.service-item:hover:after {
  background-color: #c7b299;
}
.service-item:active svg {
  fill: #555555;
}
.service-item:active h3 {
  color: #555555;
}
.service-item:active:after {
  background-color: #555555;
}

.ideas {
  background-color: #fbfaf8;
  width: 100%;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ideas p {
  max-width: 760px;
  margin: 25px 0 40px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}

.ideas-img {
  height: 480px;
  max-width: 1230px;
  width: 100%;
  background-color: transparent;
  background-image: url("../img/browser_center.png"), url("../img/browser_left.png"), url("../img/browser_right.png");
  background-size: contain, 60%, 60%;
  background-repeat: no-repeat;
  background-position: bottom center, bottom left, bottom right;
}

aside {
  background-color: #221b19;
  padding: 59px;
}
aside span:nth-child(1) {
  font-family: Raleway, sans-serif;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #c7b299;
}
aside span:nth-child(2) {
  font-family: Raleway, sans-serif;
  font-size: 28px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}
aside p {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 300;
  color: #615855;
}

.aside-container {
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.project {
  width: 100%;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project p {
  max-width: 760px;
  margin: 25px 0 40px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}

.filter {
  max-width: 610px;
  display: flex;
  flex-wrap: wrap;
}

.project-button {
  height: 32px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #ebebeb;
  outline: none;
  padding: 0 25px;
}
.project-button:hover {
  box-shadow: 0 2px 5px 1px rgba(255, 255, 255, 0.35);
  background-color: #998675;
  color: white;
}
.project-button:active {
  box-shadow: 0 2px 5px 1px rgba(255, 255, 255, 0.35);
  background-color: rgba(204, 185, 166, 0.54);
  color: #998675;
}

.project-wrap {
  max-width: 1170px;
  margin: 40px 0 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-item {
  width: 370px;
  background-color: #fbfaf8;
  position: relative;
  margin-bottom: 30px;
}
.project-item img {
  display: block;
  width: 370px;
  height: 240px;
  margin: 0;
}
.project-item:hover span:nth-child(1) {
  color: white;
}
.project-item:hover span:nth-child(2) {
  color: #c7b299;
}
.project-item:hover .project-item-txt:before {
  border-bottom: 15px solid #362f2d;
}

.project-item-txt {
  padding: 30px;
  position: relative;
  background-color: #fbfaf8;
  box-sizing: border-box;
}
.project-item-txt span:nth-child(1) {
  display: block;
  margin-bottom: 14px;
  font-family: Raleway, sans-serif;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #c7b299;
}
.project-item-txt span:nth-child(2) {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #d1d1d1;
}
.project-item-txt:before {
  content: "";
  position: absolute;
  left: 20px;
  top: -35px;
  border: 20px solid transparent;
  border-bottom: 15px solid #fbfaf8;
  display: block;
  width: 0;
  height: 0;
}

.project-item:hover img {
  filter: brightness(0.5);
}

.project-item:hover .project-item-txt {
  background-color: #362f2d;
}

.project-item:hover .button-link {
  visibility: visible;
}

.project-item:hover .button-lupa {
  visibility: visible;
}

.button-link {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 30%;
  left: 35%;
  visibility: hidden;
  outline: none;
}
.button-link svg {
  fill: white;
}
.button-link:hover svg {
  fill: #c7b299;
}
.button-link:active svg {
  fill: white;
}

.button-lupa {
  border: none;
  background-color: transparent;
  position: absolute;
  top: 30%;
  right: 35%;
  visibility: hidden;
  outline: none;
}
.button-lupa svg {
  fill: white;
}
.button-lupa:hover svg {
  fill: #c7b299;
}
.button-lupa:active svg {
  fill: white;
}

.video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 705px;
  position: relative;
  overflow: hidden;
  background-color: #cccccc;
}

.video-item {
  width: 100%;
  height: 100%;
  background-image: url(../img/video-poster.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.video-txt {
  max-width: 570px;
  padding: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video-txt h1 {
  color: #ffffff;
}

.video-txt-button {
  width: 100px;
  height: 100px;
  margin-bottom: 40px;
  background-color: #53595e;
  border-style: none;
  outline: none;
  border-radius: 50%;
  fill: white;
}
.video-txt-button:hover {
  background-color: white;
  fill: #53595e;
}
.video-txt-button:active {
  background-color: #53595e;
  fill: white;
}

.video-txt-p {
  margin: 30px 0 40px;
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #ffffff;
}

.video-txt-time {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #c7b299;
}

.excellent {
  width: 100%;
  height: 695px;
  background-color: #fbfaf8;
  background-image: url("../img/iphone_in_hand.png");
  background-repeat: no-repeat;
  background-position: 25% bottom;
}

.excellent-txt {
  max-width: 670px;
  padding: 195px 0 0 45%;
}
.excellent-txt p {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}
.excellent-txt ul {
  list-style-type: none;
}
.excellent-txt ul li {
  position: relative;
  padding-left: 50px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 32px;
  font-weight: 300;
  color: #8c8c8c;
}
.excellent-txt ul li:before {
  position: absolute;
  content: url("../img/mark.png");
  top: 5px;
  left: 5px;
  display: block;
}

.counters {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f4f5f8;
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.counters-item {
  width: 140px;
  padding: 60px 0;
  margin: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counters-item span {
  font-family: Montserrat;
}
.counters-item span:nth-of-type(1) {
  font-size: 48px;
  line-height: 36px;
  font-weight: 200;
  color: #ffffff;
  margin: 30px 0 20px;
}
.counters-item span:nth-of-type(2) {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  text-transform: uppercase;
  color: #c7b299;
}
.counters-item:after {
  margin-top: 30px;
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
}

.recent {
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.recent p {
  max-width: 760px;
  margin: 30px 0 40px;
  text-align: center;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #8c8c8c;
}

.recent-wrap {
  max-width: 1170px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.recent-item {
  width: 370px;
  margin: 0 15px;
  position: relative;
}
.recent-item img {
  display: block;
}

.recent-item-txt {
  padding: 30px;
  border: 1px solid #f8f8f8;
  box-sizing: border-box;
}
.recent-item-txt h3 {
  margin: 0;
  Text: Lorem ipsum dolor sit amet;
  font-family: Raleway;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  color: #555555;
}
.recent-item-txt p {
  text-align: left;
  margin: 20px 0 30px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #8c8c8c;
}
.recent-item-txt a {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #c7b299;
  position: relative;
}
.recent-item-txt a:hover {
  color: white;
}
.recent-item-txt a:after {
  content: "";
  position: absolute;
  right: -20px;
  top: 5px;
  border-top: 5px solid transparent;
  border-left: 10px solid #c7b299;
  border-bottom: 5px solid transparent;
}
.recent-item-txt a:hover::after {
  border-left: 10px solid #ffffff;
}

.calendar {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.calendar span:nth-of-type(1) {
  width: 50px;
  text-align: center;
  padding: 8px 0;
  font-family: Montserrat;
  font-size: 24px;
  line-height: 20px;
  font-weight: 300;
  color: #ffffff;
  background-color: #363636;
  border-radius: 3px 3px 0px 0px;
}
.calendar span:nth-of-type(2) {
  width: 50px;
  text-align: center;
  padding: 2px 0;
  font-family: Roboto;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: #252525;
  border-radius: 0px 0px 3px 3px;
}

.recent-item:hover img {
  filter: brightness(0.5);
}

.recent-item:hover .recent-item-txt {
  background-color: #362f2d;
  border: 1px solid #362f2d;
}
.recent-item:hover .recent-item-txt h3 {
  color: #c7b299;
}
.recent-item:hover .recent-item-txt p {
  color: #ffffff;
}

.recent-item:hover .calendar span:nth-of-type(1) {
  background-color: #c7b299;
}
.recent-item:hover .calendar span:nth-of-type(2) {
  background-color: #a48d72;
}

.recent-pagination svg {
  display: block;
}
.recent-pagination button {
  background-color: transparent;
  border: none;
  outline: none;
  margin-top: 40px;
  padding: 0 2px;
  fill: #c7b299;
}
.recent-pagination button:hover {
  fill: #d1d1d1;
}
.recent-pagination button:active {
  fill: #c7b299;
}

.partners {
  width: 100%;
  padding: 140px 0;
  background-color: rgba(17, 17, 17, 0.7);
  background-image: url("../img/bg_partners.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.partners img {
  margin: 0 75px;
}
.partners img:hover {
  filter: brightness(0.5);
}

footer {
  background-color: #191919;
}

.inform {
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 80px 0 60px;
}
.inform h2 {
  margin: 0;
  font-family: Raleway;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
}

.organization {
  width: 260px;
}
.organization p {
  padding: 10px 0 20px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #555555;
}
.organization .ref {
  text-decoration: none;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #d1d1d1;
  position: relative;
}
.organization .ref:after {
  content: "";
  position: absolute;
  right: -20px;
  top: 5px;
  border-top: 5px solid transparent;
  border-left: 10px solid #c7b299;
  border-bottom: 5px solid transparent;
}
.organization .ref:hover {
  color: white;
}
.organization .ref:hover::after {
  border-left: 10px solid #ffffff;
}

.posts {
  width: 260px;
}
.posts a {
  border-bottom: 2px solid #252525;
  text-decoration: none;
}
.posts a:last-child {
  border: none;
}

.post-item {
  width: 100%;
  display: block;
  padding: 20px 0;
}
.post-item time {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #363636;
}
.post-item p {
  margin: 10px 0 0 0;
  hyphens: auto;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}

.post-item:hover time {
  color: #ffffff;
}
.post-item:hover p {
  color: #c7b299;
}

.post-item:active time {
  color: #ffffff;
}
.post-item:active p {
  color: #c7b299;
}

.twitter {
  width: 260px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}
.twitter a {
  text-decoration: none;
  color: #00bff3;
}
.twitter a:hover {
  color: #959595;
}
.twitter p {
  margin: 0 0 10px 0;
  color: #555555;
}
.twitter time {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: #363636;
}

.twitter-item {
  border-bottom: 2px solid #252525;
  padding: 20px 0;
}
.twitter-item:last-child {
  border: none;
}

.widget {
  width: 270px;
}

.widget-wrap {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.widget-wrap img {
  margin-top: 6px;
}
.widget-wrap img:hover {
  filter: brightness(0.5);
}

.copyright {
  width: 100%;
  background-color: #111111;
  padding: 50px 0;
  display: flex;
  justify-content: center;
}

.copyright-wrap {
  width: 1170px;
}
.copyright-wrap a {
  padding: 0 10px;
  border-left: 1px solid #252525;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #555555;
}
.copyright-wrap a:first-child {
  padding-left: 0;
  border: none;
}
.copyright-wrap a:nth-child(5) {
  float: right;
}
.copyright-wrap a:last-child {
  border: none;
  float: right;
}
.copyright-wrap span {
  color: #959595;
}
.copyright-wrap a:hover {
  color: #c7b299;
}
.copyright-wrap a:hover span {
  color: #c7b299;
}

@media only screen and (max-width: 1024px) {
  .services {
    justify-content: center;
  }

  .excellent {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .container {
    max-width: 100%;
    margin: 0;
  }

  .header {
    position: relative;
    background-color: #555555;
    padding: 0;
    left: 0;
    margin: 0;
  }

  .header-wrap {
    display: block;
    padding: 0;
    margin: 0;
    width: 100%;
    background-image: url(../img/bg_slider.png);
    background-size: cover;
  }

  .logo {
    display: inline;
    flex-grow: 1;
    float: left;
    padding: 15px 0 15px 15px;
  }

  .header-nav {
    padding-top: 20px;
  }

  label {
    display: inline-block;
    margin: 5px 20px 0 0;
    float: right;
    width: 40px;
    height: 40px;
    position: relative;
  }

  .burger {
    display: block;
    position: absolute;
    top: 25px;
    left: 0px;
    right: 0px;
    height: 4px;
    background-color: white;
  }
  .burger:before {
    position: absolute;
    display: block;
    left: 0;
    top: -12px;
    width: 100%;
    height: 4px;
    background-color: #fff;
    content: "";
  }
  .burger:after {
    position: absolute;
    display: block;
    left: 0;
    top: 12px;
    width: 100%;
    height: 4px;
    background-color: #fff;
    content: "";
  }

  label:hover .burger {
    background-color: #c7b299;
  }

  label:hover .burger:after {
    background-color: #c7b299;
  }

  label:hover .burger:before {
    background-color: #c7b299;
  }

  .menu {
    height: 0;
    visibility: hidden;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
  }

  .menu li {
    text-align: center;
    background-color: transparent;
    padding: 15px 0;
    border-bottom: 1px solid white;
  }

  .menu li:first-child {
    border-top: 1px solid white;
  }

  .menu li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 5px;
  }

  .menu li:hover {
    background-color: #c7b299;
  }

  .menu li a:hover {
    color: white;
  }

  input[type=checkbox]:checked ~ .menu {
    height: auto;
    visibility: visible;
  }

  input[type=checkbox]:checked ~ .menu li a {
    font-size: 14px;
  }

  input[type=checkbox]:checked ~ label .burger {
    background: none;
  }

  input[type=checkbox]:checked ~ label .burger:before {
    top: 0;
    transform: rotate(45deg);
    transition: transform 0.5s;
  }

  input[type=checkbox]:checked ~ label .burger:after {
    top: 0;
    transform: rotate(-45deg);
    transition: transform 0.5s;
  }

  .header-service {
    display: none;
  }

  .slider {
    display: none;
  }

  .services {
    padding: 40px 15px;
  }

  .service-item {
    width: 200px;
    margin-bottom: 40px;
  }

  .service-item h3 {
    font-size: 18px;
  }

  .ideas,
aside {
    display: none;
  }

  .project {
    padding: 0;
  }
  .project .filter {
    justify-content: center;
  }
  .project p {
    padding: 0 15px;
  }
  .project .project-wrap {
    justify-content: center;
  }

  .video {
    margin-top: 40px;
  }

  .excellent {
    background-position: 5% bottom;
    background-size: 50%;
    height: 40em;
  }
  .excellent .excellent-txt {
    padding: 40px 15px;
  }
  .excellent .excellent-txt ul li {
    padding-left: 200px;
    font-size: 12px;
  }
  .excellent .excellent-txt ul li:before {
    left: 170px;
  }

  .counters {
    display: none;
  }

  .partners {
    padding: 40px 0;
  }

  .partners img {
    padding: 15px;
    width: 190px;
    margin: 0;
  }

  .recent {
    padding: 40px 15px;
  }

  .recent-item {
    margin: 0 0 20px;
  }

  .recent-item:last-child {
    margin: 0;
  }

  .inform {
    justify-content: center;
    padding: 40px 0;
  }
  .inform .organization {
    margin-bottom: 20px;
  }
  .inform .organization:last-child {
    margin: 0;
  }
  .inform .logo {
    width: 100%;
    padding: 0 0 20px 0;
  }

  .copyright {
    padding: 25px 0;
  }

  .copyright-wrap {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .copyright-wrap a:nth-child(5) {
    border: none;
  }
  .copyright-wrap a:last-child {
    border-left: 1px solid #252525;
  }
}
@media only screen and (max-width: 460px) {
  .container {
    width: 100%;
  }

  .services {
    justify-content: center;
  }

  .project-item {
    width: 100%;
  }

  .project-item img {
    width: 100%;
  }

  .video {
    height: 380px;
  }

  .video-txt svg {
    width: 60px;
    height: 57px;
  }
  .video-txt h1 {
    text-align: center;
  }
  .video-txt p {
    margin: 20px 0;
  }

  .video-txt-button {
    width: 80px;
    height: 80px;
    margin: 20px 0;
  }

  .excellent {
    background-size: 40%;
    height: 37em;
  }
  .excellent h1 {
    text-align: center;
  }
  .excellent p {
    font-size: 14px;
    line-height: 24px;
  }
  .excellent .excellent-txt {
    padding: 40px 15px;
  }
  .excellent .excellent-txt ul li {
    padding-left: 130px;
    line-height: 20px;
  }
  .excellent .excellent-txt ul li:before {
    left: 95px;
  }

  .recent {
    padding: 40px 0;
  }

  .recent-item {
    width: 100%;
  }
  .recent-item img {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
