$font-family: Raleway, serif;

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  padding: 0 0;
}

.header {
  width: 100%;
  padding-top: 40px;
  position: absolute;
  left: 50%;
  z-index: 1;
  color: white;
  margin-left: -50%;
}

.header-wrap {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 181px;
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 2;
  color: #fff;
  text-decoration: none;

  &:hover {
    color: #c7b299;
  }

  &:active {
    color: #fff;
  }
}

.logo-svg {
  fill: currentColor;
}

.logo-txt {
  font-family: $font-family, serif;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
}

.header-nav {
  padding: 0;
}

.header-nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.header-nav li {
  list-style: none;
  padding-right: 30px;
}

.header-nav a {
  font-family: Montserrat, serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;

  &:hover {
    color: #c7b299;
  }

  &:active {
    color: #fff;
  }
}

.header-service {
  display: flex;
  align-items: center;
  flex-basis: auto;
}

.header-service-button {
  background-color: transparent;
  fill: white;
  border: none;
  outline: none;
  &:hover {
    fill: #c7b299;
  }
  &:active {
    fill: #fff;
  }
}

.header-service-button img:hover {
  color: #c7b299;
}

.search-form {
  position: relative;
  width: 50px;
  height: 50px;
  background: transparent;
  //box-sizing: border-box;
  fill: white;
  border: none;
  &:hover {
    cursor: pointer;
  }
  &:focus .search-input{
    margin-left: 10px;
    display: inline-block;
    width: 250px;
  }
  &:focus-within .search-icon{
    position: absolute;
    right: -200px;
    fill: #c7b299;
  }
}

.search-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45px;
  line-height: 30px;
  color: #c7b299;
  display: none;
  font-size: 1em;
  padding: 0 10px;
}

.search-icon {
  box-sizing: border-box;
  height: 46px;
  position: absolute;
  top: 0;
  right: 10px;
  fill: white;
  &:hover {
    fill: #c7b299;
  }
}

.slider {
  width: 100%;
  color: white;
  margin: 0 auto;
  position: relative;
  min-height: 1024px;
  background-image: url(../img/bg_slider.png);
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  padding: 0 150px;
  display: flex;
  align-items: center;
}

.slider-wrap {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-arrow {
  outline: 0;
  border: 0;
  background-color: transparent;
  fill: white;

  &:hover {
    fill: #c7b299;
    cursor: pointer;
  }

  &:active {
    fill: white;
    cursor: pointer;
  }
}

.slider-slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-slogan-top {
  font-family: $font-family;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
}

.slider-slogan-middle {
  font-family: $font-family;
  font-size: 52px;
  line-height: 1.2;
  font-weight: 800;
  text-align: center;
}

.slider-slogan-bottom {
  font-family: Montserrat, serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  max-width: 590px;
}

.slider-button {
  width: 170px;
  height: 53px;
  background-color: #998675;
  border-radius: 5px;
  border: none;
  outline: none;
  font-family: $font-family;
  font-size: 14px;
  line-height: 23px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 50px;

  &:hover {
    box-shadow: 0 2px 5px 1px rgba(255, 255, 255, 0.35);
    background-color: rgba(204, 185, 166, 0.54);
  }
}

.pagination {
  position: absolute;
  width: 100%;
  bottom: 40px;
  left: 50%;
  z-index: 1;
  color: white;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;

}

.circle {
  display: inline-block;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: white;
  margin: 8px;

  &:hover {
    background-color: transparent;
    box-shadow: 0 0 0 2px white;
  }
}

.services {
  width: 1170px;
  margin: 0 auto;
  padding: 80px 0 80px;
  display: flex;
  justify-content: space-between;
}

.service-item {
  width: 266px;
  display: flex;
  flex-wrap: wrap;
  //flex-direction: column;
  justify-content: center;

  & svg {
    display: block;
    fill: #555555;
    margin: 0 20px;
  }

  & h2 {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
    font-family: Raleway, serif;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
  }

  & p {
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    font-family: Montserrat, serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
  }

  &:after {
    margin: 20px 0 0 0;
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
  }

  &:hover svg {
    fill: #c7b299;
  }

  &:hover h2 {
    color: #c7b299;
  }

  &:hover:after {
    background-color: #c7b299;
  }
}